$color-light-green:#28a745;
$color-orange:#fe7e17;
$color-dark-blue:#004085;
$color-turkish:#25A18E;
$color-dark-green:#307951;
$color-light-blue:#00A5CF;
$color-blue:#669cab;
$color-red:rgba(198, 48, 62, 0.84);

$box_shadow: 0 0 0px 4px rgba(237, 237, 237, 0.35);